/* Whole document: */

body {
  margin-top: 80px !important;
}

.navbar {
  min-height: 65px !important;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.025em;
}


/*----Easy and amazing CSS implementation for animating about page from https://www.connorrothschild.com/post/animate-hugo-academic/ -----*/

#about {

/* Create setting and animate title and main content from the right */

  @-webkit-keyframes slide-from-right {
    0% {-webkit-transform: translateX(150%);transform: translateX(150%)}
    100% { -webkit-transform: translateX(0%); transform: translateX(0%); }
  }
  
  @keyframes slide-from-right {
    0% {-webkit-transform: translateX(150%);transform: translateX(150%)}
    100% { -webkit-transform: translateX(0%); transform: translateX(0%); }
  }
  
  .biography-title {
    -webkit-animation: slide-from-right 1s cubic-bezier(0.87, 0, 0.13, 1) forwards;
            animation: slide-from-right 1s cubic-bezier(0.87, 0, 0.13, 1) forwards;
  }

  .main-content {
    -webkit-animation: slide-from-right 1s cubic-bezier(0.87, 0, 0.13, 1) forwards;
            animation: slide-from-right 1s cubic-bezier(0.87, 0, 0.13, 1) forwards;
  }

  .navbar {
   -webkit-animation: slide-from-right 1s cubic-bezier(0.87, 0, 0.13, 1) forwards;
            animation: slide-from-right 1s cubic-bezier(0.87, 0, 0.13, 1) forwards;
}
 

/* Create setting and animate profile and details from the left */

  @-webkit-keyframes slide-from-left {
    0% {-webkit-transform: translateX(-150%);transform: translateX(-150%)}
    100% { -webkit-transform: translateX(0%); transform: translateX(0%); }
  }
  
  @keyframes slide-from-left {
    0% {-webkit-transform: translateX(-150%);transform: translateX(-150%)}
    100% { -webkit-transform: translateX(0%); transform: translateX(0%); }
  }
  
#profile {
    -webkit-animation: slide-from-left 1s cubic-bezier(0.87, 0, 0.13, 1) forwards;
            animation: slide-from-left 1s cubic-bezier(0.87, 0, 0.13, 1) forwards;
  }

/* Create setting and animate education and interest to fade in */

  @-webkit-keyframes fade-in {
    0% {opacity: 0}
    100% {opacity: 1}
  }
  
  @keyframes fade-in {
    0% {opacity: 0}
    100% {opacity: 1}
  }
  
  .interests-div {
    opacity: 0;
    -webkit-animation: fade-in 1s forwards;
            animation: fade-in 1s forwards;
    -webkit-animation-delay: 1.25s;
            animation-delay: 1.25s;
  }
  
  .education-div {
    opacity: 0;
    -webkit-animation: fade-in 1s forwards;
            animation: fade-in 1s forwards;
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
  }
  .network-icon {
    
    margin-top: 15px;
    padding: 5px;
    
    .fa-envelope {
      opacity: 0;
      -webkit-animation: grow 1s ease forwards;
              animation: grow 1s ease forwards;
      -webkit-animation-delay: 0.5s;
              animation-delay: 0.5s;
    }
    
    .fa-twitter {
      opacity: 0;
      -webkit-animation: grow 1s ease forwards;
              animation: grow 1s ease forwards;
      -webkit-animation-delay: 0.75s;
              animation-delay: 0.75s;
    }
    
    .fa-github {
      opacity: 0;
      -webkit-animation: grow 1s ease forwards;
              animation: grow 1s ease forwards;
      -webkit-animation-delay: 1s;
              animation-delay: 1s;
    }
    .fa-linkedin {
      opacity: 0;
      -webkit-animation: grow 1s ease forwards;
              animation: grow 1s ease forwards;
      -webkit-animation-delay: 1.25s;
              animation-delay: 1.25s;
    }
    .ai-cv {
      opacity: 0;
      -webkit-animation: grow 1s ease forwards;
              animation: grow 1s ease forwards;
      -webkit-animation-delay: 1.5s;
              animation-delay: 1.5s;
    }
 @-webkit-keyframes grow {
        100% { opacity: 1; }
    }
    
    @keyframes grow {
        100% { opacity: 1; }
    } 
  }
}
/* links */

a:active, 
a:focus, 
a:hover {
  color: #32408f;
}

/* nav */

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
	color: #32408f;
}

.navbar {
  box-shadow: none;
  text-transform: uppercase;
	letter-spacing: .08em;
	font-size: .9em;
}

.navbar-brand {
  text-transform: uppercase;
  font-weight: 600;
	letter-spacing: .1em;
}

/*----NAV LINK HOVER ANIMATION -----*/
/* from Desiree: https://github.com/dcossyleon/blogdown_desiree/blob/master/assets/scss/custom.scss */

/* stroke */

a.nav-link,
a.nav-link:after,
a.nav-link:before {
  transition: all .45s;
}

a.nav-link {
  position: relative;
}

a.nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.'; /* make invisible, dot beneath links */
  color: transparent;
  background: #32408f;
  height: 1px;
}

a.nav-link:hover:after {
  width: 80%;
}

/* home page */

.portrait-title h2 {
  color: #333;
}

#about .col-12.col-lg-8 {
  padding-top: 30px !important;
}

.network-icon li:hover {
  transform: scale(1.05);
}

.home-section:first-of-type {
  padding: 50px 0 50px 0;
}

.home-section:not(:first-of-type) {
  padding: 25px 0 50px 0; 
}

/* this erases the margin-bottom for h1 */

.home-section.wg-pages .section-heading h1 {
  margin: 0 0 0 0;
}

/* this is the section subtitle */

.home-section.wg-pages .section-heading p {
  margin-top: 0;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: .08em;
}


/* alerts */



/* I also changed the color of the icon & its top & left positions */ 


.article-style aside p,
div.alert > div {
  position: relative;
  display: block;
  /* I made the font size smaller & adjusted the margin-left */
  font-size: 0.8rem;
  margin-left: 1.7rem;
  margin-top: 0;
  margin-bottom: 0;
}

/* I also changed the color of the icon & its top & left positions */ 
.article-style aside p::before,
div.alert > div:first-child::before {
  position: absolute;
  top: -0.3rem;
  left: -2rem;
 }


div.alert-note > div:first-child::before {
  font-family: 'Font Awesome 5 Free';
  color: #5a66a5;
  font-size: 1.2rem;
  content: '\f0a4';
}

/* You can edit the borders and backgrounds here */
.article-style aside,
.alert-note {
  color: #32408f;
  background-color: #fff;
  border-color: #5a66a5;
  box-shadow: 2px 2px 0 0 #5a66a5;
  font-weight: 500;
  text-align: left;
}

div.alert-warning > div:first-child::before {
  font-family: 'Font Awesome 5 Free';
  color: #ff3860;
  font-size: 1.3rem;
  content: "\f06a";
}

.alert-warning {
  color: #ff3860;
  background-color: #fff;
  border-color: #ff3860;
  box-shadow: 1.5px 1.5px 0 0 #ff3860;
  content: "\f12a";
  font-weight: 500;
}

/* buttons */

.btn.btn-sm, .btn-group-sm > .btn {
  border-radius: 0rem; /*undo rounded corners*/
  font-size: 0.8rem;
}

.btn.btn-outline-primary.my-1.mr-1 {
  border-radius: 0px; /*undo rounded corners*/
  font-size: 0.8rem;
}

.btn {
  font-family: Lora;
  text-transform: lowercase;
  font-style: italic;
  border-radius: 0px;
}

.btn-toolbar .btn:first-child {
  border-radius: 0px;
}

.btn-toolbar .btn:last-child {
  border-radius: 0px;
}

.btn-toolbar {
  justify-content: center;
}

/* section headers */

div.universal-wrapper.pt-3 h1 {
  text-align: center;
  padding-bottom: 50px;
  text-transform: capitalize;
}

/* about-contact helpers */

hr {
  border: 0;
  height: 1px;
  background: #172A3A;
  background-image: none;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 
.home-section.wg-experience .card-body {
	padding: .5rem;
}
 
.home-section.wg-experience .card .card-text{
  padding: 0;
}

/* images more like cards; iframes more seamless */

img {
	margin-bottom: 1.5rem;
	overflow: hidden;
	background: #fff;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

iframe {
	border: 0;
}

/* pagination buttons */

.page-link {
	color: #32408f;
	background-color: #32408f;
	border: 1px solid #32408f;
  border-radius: 0px; /*undo rounded corners*/

}

.page-link:hover {
	color: #32408f;
	background-color: #32408f;
	border-color: #32408f;
}

.page-item:first-child .page-link {
	border-top-left-radius: 0rem;
	border-bottom-left-radius: 0rem;
}

.page-item:last-child .page-link {
	border-top-right-radius: 0rem;
	border-bottom-right-radius: 0rem;
}

/* https://github.com/gcushen/hugo-academic/issues/147 */
.container {
  max-width: 1050px;
}

/* change article layout to a little wider */
.article-container {
  max-width: 775px;
}

.carousel-indicators li {
	background-color: #06805E80;
}

.section-heading p {
	color: #172A3A;
}