:root {
    --font-monospace: 'IBM Plex Mono', Consolas, monaco, monospace;

}

$siteBgColorCustom:    #fff;     // white
$sidebarBgColorCustom: #f9f9f9;     // light gray
$textColorCustom: #000;             // black
$sidebarTextColorCustom: #000;      // black
$headlineColorCustom: #3f51b5;      // purple
$headingColorCustom: #3f51b5;       // purple
$bodyLinkColorCustom: #3f51b5;      // black
$navLinkColorCustom: #231f20;       // black
$sidebarLinkColorCustom: #000;      // black
$footerTextColorCustom: #231f20;    // black
$buttonTextColorCustom: #231f20;    // black
$buttonHoverTextColorCustom: #fff;  // white
$buttonBgColorCustom: #fffbf1;      // latte
$buttonHoverBgColorCustom: #231f20; // black
$borderColorCustom: #3f51b5;        // blue

